################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KalakunjShibir
/KalakunjShibir/bin/Debug/net8.0
/KalakunjShibir/obj/Debug/net8.0
/KalakunjShibir/obj
/.vs/ProjectEvaluation
/KalakunjShibir/.vs
